.last-event .content .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

@media screen and (max-width: 767px) {
  .ui.stackable.cards>.card.last-event {
    width: 50% !important;
    margin: 15px auto !important;
  }
  
}
